<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Experience</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Claw my coacher</a></h2>
            <p> Claw has coached me during my first Django Girls Experience!</p>
			<p> A big group of coachers have helped and teached cool/handy tips to DjangoGirls</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Girls who like to code where also here</a></h2>
            <p>"Girls who like to code" organizors drop by to share lunch with DjangoGirls and cheer people up</p>
        </div>
    </body>
</html>